---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Footer from '../../components/Footer.astro';
import HomePage from '../../components/HomePage.astro';
---

<BaseLayout title="Wakamiti">
  <HomePage
    currentLang="en"
    content={{
      title: "Ka mua, ka muri",
      subtitle: "we walk towards the future with our eyes on the past",
      text: `
      <p>
        We are redesigning <strong>Wakamiti</strong> with the determination of great navigators: an evolution born from 
        lessons learned, with a more efficient architecture and an improved user experience.
      </p>
      <p>
        This journey of evolution has just begun. Explore the heart of the project: access our dedicated space to 
        discover the roadmap, repository, and request information.
      </p>
      `,
      buttonText: "Wakamiti Space"
    }}
  />
  <Footer />
</BaseLayout>

<style lang="scss">
  :global(body) {
    background: url('/img/pexels-thales13-31192401.jpg') no-repeat bottom center fixed;
    background-size: cover;
  }
</style>
